.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 10px;
  position: relative;
  
  width: 500px;
  margin: 0 auto;
  margin-top: 65px;
  
  
}

.btn-container{
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.poem{
  text-align: left;
}

.chapter{
  text-align: center;
  margin-top: 8px;
}

.chapter span{
  font-style: italic
}

.poem-37-wilting{
  text-align: center;
}
